{{define "main"}}
  <main>
    <h1>Create Gram</h1>

    <form method="post">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br>

      <label for="description">Description:</label><br>
      <input type="text" id="description" name="description"><br>

      <label for="content">Content:</label><br>
      <input type="text" id="content" name="content"><br>

      <br>
      <button type="submit">Create</button>
    </form>
  </main>
{{end}}