{{define "main"}}
  <main>
    <h1>Delete Gram</h1>
    <p>Are you sure want to delete {{.Gram.Title}}</p>
    <form method="post">
        <button type="submit">Delete</button>
    </form>
  </main>
{{end}}